h1 {
    color: rgb(19, 1, 4);
    font-size: 50px;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
    background-color: palevioletred;
}


header4 {
    color: aliceblue;
}


body {
    background-color: palevioletred;
}


ul {
    color: purple;
}


img {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}


p {
    color: rgb(43, 3, 43);
}


#secondparagraph {
    color: maroon;
}


.fundamental {
    color: rgb(31, 2, 8);
}